/* div{
    width: 500px;
    height: 500px;
    background-color: rgb(35, 232, 189);
    margin: 10px auto;
    margin-top: 100px;
    box-shadow: 3px 3px 10px yellow;
} */
.img{
    width: 750px;
    height: 500px;
    background-color: rgb(35, 232, 189);
    margin: 10px auto;
    margin-top: 100px;
    background-image: url(background\ image\ unsplash.jpg);
    background-size: cover;
    color: rgb(250, 0, 0);
}