h2{
    text-align: center;
}
#container{
    width: 700px;
    height: 350px;
    background-color: rgb(255, 255, 0);
    display: inline-grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}
.item{
        width: 100px;
        height: 50px;
        background-color: green;
        border: 2px solid black;
        text-align: center;
}
.one{
    /* grid-column: 1/span 3; */
    justify-self: end;
    align-self: start;
    place-self: start;
}