h1{
    text-align: center;
}
#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    align-content: center;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    /* font-size: medium; */
    color: white;
}
#one{
    background-color: violet;
}
#two{
    background-color: indigo;
}
#three{
    background-color: blue;
    /* flex-grow: 2; */
    flex-shrink: 7;
}
#four{
    background-color: green;
}
#five{
    background-color: yellow;
}
#six{
    background-color: orange;
    /* flex-grow: 1; */
    flex-shrink: 1;
}
#seven{
    background-color: red;
}