h2{
    text-align: center;
}
#container{
    width: 600px;
    height: 300px;
    background-color: rgb(255, 255, 0);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    /* row-gap: 10px;
    column-gap: 30px; */
    grid-gap: 10px;
}
.item{
        /* width: 100px;
        height: 50px; */
        background-color: green;
        border: 2px solid black;
        text-align: center;
}
.one{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/3; */
    grid-column: 1/span 3;
}
#Largebox{
    width: 600px;
    height: 300px;
    background-color: rgb(255, 255, 0);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    /* row-gap: 10px;
    column-gap: 30px; */
    grid-gap: 10px;
}
.system{
    width: 100px;
    height: 50px; 
    background-color: green;
    border: 2px solid black;
    text-align: center;
}
.two{
    grid-row: 1/3;
}