h2{
    text-align: center;
}
#container{
    width: 600px;
    height: 300px;
    background-color: rgb(255, 255, 0);
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px;
}
#item{
    /* width: 100px;
    height: 50px; */
    background-color: green;
    border: 2px solid black;
    text-align: center;

}
#yaha{
    width: 600px;
    height: 300px;
    background-color: rgb(255, 255, 0);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr 1fr;
    /* line 28 and 29 are same */
}
#waha{
        /* width: 100px;
        height: 50px; */
        background-color: green;
        border: 2px solid black;
        text-align: center;
}