h1{
    background-color: yellow;
    border: 3px solid black;
}
@media(width: 400px){
    h1{
        background-color: red;
    }
}
@media(min-width: 700px){
    h1{
        background-color: magenta;
    }
}
@media(max-width: 200px){
    h1{
        background-color: yellowgreen;
    }
}
@media(min-width: 201px) and (max-width: 699){
    h1{
        background-color: red;
    }
}
@media(orientation: landscape){
    h1{
        background-color: aqua;
        color: brown;
    }
}