h1{
    border: 2px solid black;
    width: 50%;
    text-align: center;
}
#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: 10%;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    margin: 33.33%;
}