div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    text-align: center;
    border: 3px solid black;
    display: inline-block;
    margin: 20px;
}
.static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}
.relative{
    background-color: green;
    position: relative;
    top: 100px;
    left: 100px;
}
.absolute{
    background-color: green;
    position: absolute;
    top: 100px;
    left: 100px;
}
.fixed{
    background-color: green;
    position: fixed;
    top: 100px;
    left: 100px;
}