.card{
    width: 200px;
    height: 250px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 7px black;
    transition: 2s;
}
.description{
    padding: 0 2px 0 2px;
}
img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card:hover{
    box-shadow: 0 10px 10px black;
}