#face{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: orange;
}
#lefteyes{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 100px;
}
#righteyes{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%; 
    position: absolute;
    top: 100px;
    left: 250px;
}
#tongue{
    width: 200px;
    height: 70px;
    background-color: maroon;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 230px;
    left: 100px;
}