#container{
    width: 400px;
    height: 400px;
    border: 3px solid aqua;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#delta{
    width: 100px;
    height: 100px;
    color: black;
    border: 3px solid black;
    font-size: 50px;
    background-color: gray;
    font-weight: 500;
    text-align: center;
    font-family: 'Times New Roman';
    border-radius: 10px;
    /* margin: 10px;  */
}
#badawala{
    width: 900px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid aqua;
    background-color: pink;
    display: flex;
    flex-direction: row;
}
#chotawala{
    width: 80px;
    height: 50px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
    font-family: 'Times New Roman';
    text-align: center;
}