/* .container
{
    margin:0;
    padding:0;
    height:100vh;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    grid-gap:10px;
}
.container div
{
    background-color:pink;
    font-size:1.5rem;
}
.header
{
    grid-column:1/span12;
}
.sidebar
{
    grid-column:1/span3;
    grid-row:2/span10;
}
.navigation{
    grid-column:4/span6;
}
.ads
{
    grid-column:10/span3;
    grid-row:2/span10;
}
.main
{
    grid-column:4/span6;
    grid-row:3/span9;
}
.footer
{
    grid-column:1/span12;
} */
.container{
    background-color: pink;
    height:100vh;
    display:grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px; 
}
.one{
   grid-column: 1/span 12;
   grid-row: 1;
   padding: 10px;
   background-color: lightpink;
}
.two{
    grid-row: 2/span 11;
    grid-column: 1/span 3;
    padding: 10px;
    background-color: #fff;

} 
.three{
    grid-row: 2;
    grid-column: 4/span 9;
    padding: 10px;

}
.four{
    grid-column: 4/span 6;
    grid-row: 3/span 11;
    padding: 10px;

}
.five{
    grid-column: 10/span 3;
    grid-row: 2/span 11;
    padding: 10px;

}
.six{
    grid-column: 1/span 12;
    padding: 10px;
}