body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;    
    margin-right: 0.35rem; 
}

.arrow-right,
.arrow-left {
    width: 10px;
    height: 10px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    cursor: pointer;
    display: inline-block;   /* FIX: makes them appear left-right */
    margin: 5px;            /* optional spacing */
}

.arrow-right {
    transform: rotate(45deg);
}

.arrow-left {
    transform: rotate(225deg);
}

.container{
    background-color: #050505;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.Musicplayer{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    height: 100px;
    flex-direction: column;
    margin: 0.5rem 0.75rem;
}

.navopt{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.navopt:hover{
    opacity: 1;
}

.navopt i{
    font-size: 1.5rem;
}

.navopt a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.libopt img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    margin-right: 1rem;
    opacity: 0.7;
}

.icons i:hover{
    opacity: 1;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.bp1{
    font-size: 1rem;
    font-weight: 500;
}

.bp2{
    font-size: 0.75rem;
    opacity: 0.9;
}

.badge{
    background-color: #fff;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.stickynav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.stickyicons{
    margin: 0.75rem;
}

.stickyoptions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitem{
    margin-right: 1rem;
}

.blackbadge{
    background-color: #000;
    color: #fff;
    border: #000;
}

@media(max-width : 1000px) {
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cardcont{
    display: flex;
    flex-wrap: wrap;
}

/* .cardcont:hover{
    box-shadow: 5px 20px 20px white;
} */

.cardimg{
    width: 100%;
    border-radius: 0.5rem;
}

.cardhead{
    font-weight: 600;
}

.cardinfo{
    font-size: 0.75rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white ;
    opacity: 0.4;
}

.Musicplayer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 25%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    background-color: black;
    width: 50%;
}

.controls{
    width: 25%;
    background-color: black;
}

.playercont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playercont img{
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;
}

.playercont img:hover{
    opacity: 1;
}

.playbackbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progressbar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 10rem;
    height: 0.15rem;
}

.progressbar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px ;
}
.albimg{
    width: 3rem;
    margin-right: 1rem;
}

.albpara{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    margin-right: 8rem;
}

.alb1{
    font-size: 1rem;
    font-weight: 600;
}

.alb2{
    font-size: 0.75rem;
    opacity: 0.75;
}

/* .albic{
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
} */

.icon1{
    margin-right: 0.75rem;
}

.contin{
    margin-left: 5rem;
}

.controls i{
    margin-left: 0.75rem;
    font-size: 1rem;
    opacity: 0.5;
}

.controls i:hover{
    opacity: 1;
}

.volume{
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    
}

.volume::-webkit-slider-runnable-track{
    height: 0.15rem;
    background-color: #ddd;
    border-radius: 10rem;
    margin-top: -5px;
    
}

.volume::-webkit-slider-thumb{
    appearance: none;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}


.playimg {
    font-size: 28px; 
    cursor: pointer;
    margin: 0 10px;
    opacity: 0.75;
    transition: 0.2s;
}

.playimg:hover {
    opacity: 1;
}
